

//white
$white-100: #F5F8FA;
$white-200: #FFF;

//red
$red-100:  #D62926;

//green
$green-100: #08A94C;
$green-200: #06873D;

//dark
$dark-100: #333F47;
$dark-200: #7E93A8;

//blue
$blue-100: #E8ECF5;
$blue-200: #D2DFE8;

